<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Texture code="lgt.plt.0006" name="\lgt\plt\0006" label="盆景树枝" full_label="\楼观台\植物\盆景树枝">
    <Bitmap type_name="diffuse" index="0" tick="100" source="\fd-lgt-楼观台\fd-plt-植物\tx-0006-盆景树枝\diffuse.jpg" />
    <Bitmap type_name="alpha" index="1" tick="100" source="\fd-lgt-楼观台\fd-plt-植物\tx-0006-盆景树枝\alpha.jpg" />
    <Bitmap type_name="normal" index="2" tick="100" source="\fd-lgt-楼观台\fd-plt-植物\tx-0006-盆景树枝\normal.jpg" />
    <Bitmap type_name="specular.level" index="3" tick="100" source="\fd-lgt-楼观台\fd-plt-植物\tx-0006-盆景树枝\specular.level.jpg" />
  </Texture>
</Configuration>