<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Texture code="lgt.dec.0009" name="\lgt\dec\0009" label="金器" full_label="\楼观台\装饰\金器">
    <Bitmap type_name="diffuse" index="0" tick="100" source="\fd-lgt-楼观台\fd-dec-装饰\tx-0009-金器\diffuse.jpg" />
    <Bitmap type_name="normal" index="1" tick="100" source="\fd-lgt-楼观台\fd-dec-装饰\tx-0009-金器\normal.jpg" />
    <Bitmap type_name="specular.level" index="2" tick="100" source="\fd-lgt-楼观台\fd-dec-装饰\tx-0009-金器\specular.level.jpg" />
  </Texture>
</Configuration>