<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Texture code="lgt.bld.0013" name="\lgt\bld\0013" label="屋顶瓦" full_label="\楼观台\建筑\屋顶瓦">
    <Bitmap type_name="diffuse" index="0" tick="100" source="\fd-lgt-楼观台\fd-bld-建筑\tx-0013-屋顶瓦\diffuse.jpg" />
    <Bitmap type_name="normal" index="1" tick="100" source="\fd-lgt-楼观台\fd-bld-建筑\tx-0013-屋顶瓦\normal.jpg" />
    <Bitmap type_name="specular.level" index="2" tick="100" source="\fd-lgt-楼观台\fd-bld-建筑\tx-0013-屋顶瓦\specular.level.jpg" />
  </Texture>
</Configuration>