<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Texture code="pvw.show.002.01" name="\pvw\show\002.01" label="金属文物" full_label="\展示\展示\金属文物">
    <Bitmap type_name="diffuse" index="0" tick="100" source="\fd-pvw-展示\fd-show-展示\tx-002.01-金属文物\diffuse.jpg" />
    <Bitmap type_name="normal" index="1" tick="100" source="\fd-pvw-展示\fd-show-展示\tx-002.01-金属文物\normal.jpg" />
    <Bitmap type_name="specular.level" index="2" tick="100" source="\fd-pvw-展示\fd-show-展示\tx-002.01-金属文物\specular.level.jpg" />
    <Bitmap type_name="environment" index="3" tick="100" source="\fd-pvw-展示\fd-show-展示\tx-002.01-金属文物\environment.jpg" />
  </Texture>
</Configuration>