<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Texture code="lgt.sta.0001" name="\lgt\sta\0001" label="蛤蟆雕塑" full_label="\楼观台\雕塑\蛤蟆雕塑">
    <Bitmap type_name="diffuse" index="0" tick="100" source="\fd-lgt-楼观台\fd-sta-雕塑\tx-0001-蛤蟆雕塑\diffuse.jpg" />
    <Bitmap type_name="normal" index="1" tick="100" source="\fd-lgt-楼观台\fd-sta-雕塑\tx-0001-蛤蟆雕塑\normal.jpg" />
    <Bitmap type_name="specular.level" index="2" tick="100" source="\fd-lgt-楼观台\fd-sta-雕塑\tx-0001-蛤蟆雕塑\specular.level.jpg" />
  </Texture>
</Configuration>