/* ------------------------------------------------------ */
/* A                                                      */
/* ------------------------------------------------------ */
A{
   text-decoration: none;
   color: #CCEEFF;
}

/* ------------------------------------------------------ */
/* Title                                                  */
/* ------------------------------------------------------ */
.Title_Label{
   color: #FFFFFF;
   font-size: 12pt;
   font-weight: bold;
}

/* ------------------------------------------------------ */
/* Catalog                                                */
/* ------------------------------------------------------ */
.Catalog_Title{
   padding-left: 4px;
   color: #FFFF00;
   border-radius:3px;
   background-color: #777777;
}

.Catalog_Code{
   padding-left: 4px;
   width: 120px;
   color: #FFFFFF;
}

.Catalog_Label{
   color: #CCEEFF;
}

.Catalog_Ground{
   padding-left: 4px;
   padding-top: 1px;
   padding-bottom: 1px;
   border-top: 1px solid #EEEEEE;
   border-bottom: 1px solid #666666;
   background-color: #AEAEAE;
   background: -ms-linear-gradient(top, #CFCFCF, #BBBBBB);
   background: -moz-linear-gradient(top, #CFCFCF, #BBBBBB); 
   background: -webkit-gradient(linear, left top, left bottom, from(#DDDDDD), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#CFCFCF, endColorStr=#BBBBBB);
}
