<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Texture code="lgt.bld.0006" name="\lgt\bld\0006" label="基座立面" full_label="\楼观台\建筑\基座立面">
    <Bitmap type_name="diffuse" index="0" tick="100" source="\fd-lgt-楼观台\fd-bld-建筑\tx-0006-基座立面\diffuse.jpg" />
    <Bitmap type_name="normal" index="1" tick="100" source="\fd-lgt-楼观台\fd-bld-建筑\tx-0006-基座立面\normal.jpg" />
    <Bitmap type_name="specular.level" index="2" tick="100" source="\fd-lgt-楼观台\fd-bld-建筑\tx-0006-基座立面\specular.level.jpg" />
  </Texture>
</Configuration>