html,body{
   height:100%;
}

/* ------------------------------------------------------ */
/* FMenuBar                                               */
/* ------------------------------------------------------ */
.FMenuBar_Panel{
}

/* ------------------------------------------------------ */
/* FMenuButton                                            */
/* ------------------------------------------------------ */
.FMenuButton_Normal{
   margin:0px 2px 0px 2px;
   padding:2px 8px 2px 8px;
   color: #EEEEEE;
   border-radius:2px;
   cursor: pointer;
}

.FMenuButton_Hover{
   margin:0px 2px 0px 2px;
   padding:2px 8px 2px 8px;
   border-radius:2px;
   cursor: pointer;
}

.FMenuButton_Press{
   margin:0px 2px 0px 2px;
   padding:2px 8px 2px 8px;
   border-radius:2px;
   cursor: pointer;
}

.FMenuButton_Disable{
   margin:0px 2px 0px 2px;
   padding:2px 8px 2px 8px;
   border-radius:2px;
   cursor: pointer;
}

.FMenuButton_Icon{
   border: 0px;
}

.FMenuButton_Label{
   padding-left: 6px;
}

/* ------------------------------------------------------ */
/* FToolBar                                               */
/* ------------------------------------------------------ */
.FToolBar_Panel{
}

/* ------------------------------------------------------ */
/* FToolButton                                            */
/* ------------------------------------------------------ */
.FToolButton_Normal{
   margin:0px 2px 0px 2px;
   padding:2px 8px 2px 8px;
   border-radius:2px;
   border:1px solid #CCCCCC;
   background-color: #DDDDDD;
   cursor: pointer;
}

.FToolButton_Hover{
   margin:0px 2px 0px 2px;
   padding:2px 8px 2px 8px;
   border-radius:2px;
   border:1px solid #CCCCCC;
   background-color: #FFFFF0;
   cursor: pointer;
}

.FToolButton_Press{
   margin:0px 2px 0px 2px;
   padding:2px 8px 2px 8px;
   border-radius:2px;
   border:1px solid #CCCCCC;
   background-color: #999999;
   cursor: pointer;
}

.FToolButton_Disable{
   margin:0px 2px 0px 2px;
   padding:2px 8px 2px 8px;
   border-radius:2px;
   border:1px solid #CCCCCC;
   background-color: #666666;
   cursor: pointer;
}

.FToolButton_Icon{
   border: 0px;
}

.FToolButton_Label{
   padding-left: 6px;
}

/* ------------------------------------------------------ */
/* FTreeView                                              */
/* ------------------------------------------------------ */
.FTreeView_Panel{
   width: 100%;
   height: 100%;
}

.FTreeView_NodePanel{
   width: 100%;
   height: 100%;
   overflow:auto;
}

.FTreeView_NodeForm{
}

/* ------------------------------------------------------ */
/* FTreeNode                                              */
/* ------------------------------------------------------ */
.FTreeNode_Panel{
   width: 0;
}

.FTreeNode_Normal{
   cursor: pointer;
}

.FTreeNode_Hover{
   background-color: #DDDDDD;
   cursor: pointer;
}

.FTreeNode_Select{
   background-color: #CCCCCC;
   cursor: pointer;
}

.FTreeNode_Image{
}

.FTreeNode_Icon{
}

.FTreeNode_IconDisable{
}

.FTreeNode_Label{
   font: icon;
   font-size: 9pt;
}

.FTreeNode_Cell{
}

/* ------------------------------------------------------ */
/* FFrameSet                                              */
/* ------------------------------------------------------ */
.FFrameSet_Panel{
   width: 100%;
   height: 100%;
}

/* ------------------------------------------------------ */
/* FFrameSpliter                                          */
/* ------------------------------------------------------ */
.FFrameSpliter_Normal{
   background-color: #666666;
}

.FFrameSpliter_Hover{
   background-color: #999999;
}

.FFrameSpliter_Draging{
   background-color: #BBBBBB;
}














/* ------------------------------------------------------ */
/* FEditControl                                           */
/* ------------------------------------------------------ */
.FEditControl_LabelContainer{
}

.FEditControl_EditorContainer{
   padding:1px;
   border-radius:2px;
   border-left:1px solid #666666; border-top:1px solid #666666; border-right:1px solid #CCCCCC; border-bottom:1px solid #CCCCCC;
   background-color: #FFFFF0;
}

/* ------------------------------------------------------ */
/* FEdit                                                  */
/* ------------------------------------------------------ */
.FEdit_Edit
   {
   width: 100%;
   border: 0;
   background-color: #FFFFF0;
}  }

/* ------------------------------------------------------ */
/* Tag                                                    */
/* ------------------------------------------------------ */
.Tag_Image
	{
	border:0px;
	}
.Tag_Icon
	{
	border:0px;
	}
.Tag_Icon_Disable
	{
	border:0px;
	filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
	}

/* ------------------------------------------------------ */
/* FDesignConsole                                         */
/* ------------------------------------------------------ */
.FDesignConsole_Split
	{
	position:absolute;
	background-color: #FF0000;
	border-left:1 solid #FFC1C1; border-top:1 solid #FFC1C1; border-right:1 solid #970000; border-bottom:1 solid #970000;
	}

/* ------------------------------------------------------ */
/* FMessageConsole                                         */
/* ------------------------------------------------------ */
.FMessageConsole_Panel
	{
	width:360; height:240;
	position:absolute;
	border:1 solid red;
	background-color:#FFFFFF;
	}

/* ------------------------------------------------------ */
/* PageBar                                                */
/* ------------------------------------------------------ */
.FPageBar_Panel
	{
	width:100%;
	}
.FPageBar_TitlePanel
	{
	height:1;
	}
.FPageBar_SheetPanel
	{
	vertical-align: top;
	border-left:1 solid #666666; border-right:1 solid #666666; border-bottom:1 solid #666666;
	padding-left:6; padding-right:6; padding-bottom:6;
	}
.FPageBar_Sheets
	{
	border:1 solid blue;
	width:100%; height:100;
	}
.FPageBar_Top
	{
	height:1px; background-color:#FFFFFF;
	}
.FPageBar_TopSel
	{
	height:1px; background-color:#666666;
	}
.FPageBar_Left
	{
	border-top:1 solid #666666;
	width:1px; background-color:#FFFFFF;
	}
.FPageBar_LeftSel
	{
	width:1px; background-color:#666666;
	}
.FPageBar_Right
	{
	width:1px; background-color:#666666;
	}
.FPageBar_RightSel
	{
	width:1px; background-color:#666666;
	}
.FPageBar_RightP
	{
	width:1px; border-top:1 solid #666666;
	filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=0, startcolorstr=#FFFFFF, endcolorstr=#CAC6BD);
	}
.FPageBar_Bottom
	{
	height:1px; background-color:#333333;
	}
.FPageBar_BottomSel
	{
	height:1px; background-color:#FFFFFF;
	}
.FPageBar_SheetLeft
	{
	width:1px; background-color:#333333;
	}
.FPageBar_SheetRight
	{
	width:1px; background-color:#333333;
	}

/* ------------------------------------------------------ */
/* PageControl                                            */
/* ------------------------------------------------------ */
.FPageTab_Button
	{
	}
.FPageTab_Panel
	{
	width:1;
	padding:2 4;
	}
.FPageTab_LabelPanel
	{
	white-space: nowrap;
	padding:2 8;
	filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=0, startcolorstr=#a5eaea, endcolorstr=#29bad7);
	}
.FPageTab_TitlePanel
	{
	height:1;
	}
.FPageTab_SheetPanel
	{
	vertical-align: top;
	border-left:1 solid #29bad5; border-right:1 solid #29bad5; border-bottom:1 solid #29bad5;
	padding:6;
	}
.FPageTab_Sheets
	{
	border:1 solid blue;
	width:100%; height:100;
	}
.FPageTab_Top
	{
	height:1px; background-color:#FFFFFF;
	}
.FPageTab_TopSel
	{
	height:1px; background-color:#29bad5;
	}
.FPageTab_Left
	{
	border-top:1 solid #666666;
	width:1px; background-color:#FFFFFF;
	}
.FPageTab_LeftSel
	{
	width:1px; background-color:#29bad5;
	}
.FPageTab_Right
	{
	width:1px; background-color:#29bad5;
	}
.FPageTab_RightSel
	{
	width:1px; background-color:#29bad5;
	}
.FPageTab_RightP
	{
	width:1px; border-top:1 solid #29bad5;
	filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=0, startcolorstr=#FFFFFF, endcolorstr=#29bad7);
	}
.FPageTab_Bottom
	{
	height:1px; background-color:#29bad5;
	}
.FPageTab_BottomSel
	{
	height:1px; background-color:#FFFFFF;
	}
.FPageTab_SheetLeft
	{
	width:1px; background-color:#29bad5;
	}
.FPageTab_SheetRight
	{
	width:1px; background-color:#29bad5;
	}

/* ------------------------------------------------------ */
/* PageControl                                            */
/* ------------------------------------------------------ */
.FPageControl_Panel
	{
	width:100%;
	}
.FPageControl_TitlePanel
	{
	height:1;
	}
.FPageControl_SheetPanel
	{
	vertical-align: top;
	border-left:1 solid #29bad5; border-right:1 solid #29bad5; border-bottom:1 solid #29bad5;
	padding:6;
	}
.FPageControl_Sheets
	{
	border:1 solid blue;
	width:100%; height:100;
	}
.FPageControl_Top
	{
	height:1px; background-color:#FFFFFF;
	}
.FPageControl_TopSel
	{
	height:1px; background-color:#29bad5;
	}
.FPageControl_Left
	{
	border-top:1 solid #666666;
	width:1px; background-color:#FFFFFF;
	}
.FPageControl_LeftSel
	{
	width:1px; background-color:#29bad5;
	}
.FPageControl_Right
	{
	width:1px; background-color:#29bad5;
	}
.FPageControl_RightSel
	{
	width:1px; background-color:#29bad5;
	}
.FPageControl_RightP
	{
	width:1px; border-top:1 solid #29bad5;
	filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=0, startcolorstr=#FFFFFF, endcolorstr=#29bad7);
	}
.FPageControl_Bottom
	{
	height:1px; background-color:#29bad5;
	}
.FPageControl_BottomSel
	{
	height:1px; background-color:#FFFFFF;
	}
.FPageControl_SheetLeft
	{
	width:1px; background-color:#29bad5;
	}
.FPageControl_SheetRight
	{
	width:1px; background-color:#29bad5;
	}

/* ------------------------------------------------------ */
/* PageSheet                                              */
/* ------------------------------------------------------ */
.FPageSheet_Panel
	{
	cursor:hand; width:1%;
	white-space: nowrap;
	}
.FPageSheet_Sheet
	{
	padding:10px;
	}
.FPageSheet_Button
	{
	width:100%; height:100%; border-top:1 solid #29bad5;
	padding-left:10px; padding-top:3px; padding-right:10px; padding-bottom:2px;
	filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=0, startcolorstr=#FFFFFF, endcolorstr=#a4eaea);
	}
.FPageSheet_Hover
	{
	width:100%; height:100%; border-top:1 solid #29bad5;
	padding-left:10px; padding-top:3px; padding-right:10px; padding-bottom:2px;
	filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=0, startcolorstr=#FFFFFF, endcolorstr=#55cfe6);
	}
.FPageSheet_Select
	{
	cursor:hand; width:100%; height:100%;
	padding-left:10px; padding-top:4px; padding-right:10px; padding-bottom:2px;
	filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=0, startcolorstr=#a4eaea, endcolorstr=#FFFFFF);
	width:100%; height:100%;
	}

/* ------------------------------------------------------ */
/* FTextEditor                                            */
/* ------------------------------------------------------ */
.FTextEditor_Panel
	{
	position:absolute;
	border:0;
	background-color:#008000;
	}
.FTextEditor_PanelHover
	{
	position:absolute; 
	border:0;
	background-color:#80FF80;
	}
.FTextEditor_Edit
	{
	border:0;
	background-color:#DDFFDD;
	}
.FTextEditor_EditHover
	{
	border:0;
	background-color:#EEFFEE;
	}
/* ------------------------------------------------------ */
/* Calendar                 ÐÂ¼ÓÄÚÈÝ                      */
/* ------------------------------------------------------ */

.FCalendarEditor_Drop
	{
	}
.FCalendar_Panel
	{
	padding:1;
	}
.FCalendar_Edit
	{
	border:0; width:100%;
	}
.FCalendar_Form
	{
	}
.FCalendar_LabelForm
	{
	}
.FCalendar_ControlForm
	{
	}
.FCalendar_EditForm
	{
	}
.FCalendar_Drop
	{
	}
/* ------------------------------------------------------ */
/* CalendarEditor                                         */
/* ------------------------------------------------------ */
.FCalendarEditor_Panel
	{
	position:absolute;
	border:0;
	}
.FCalendarEditor_Edit
	{
	background-color:#DDFFDD;
	border-left:1 solid #666666; border-top:1 solid #666666; border-right:1 solid #CCCCCC; border-bottom:1 solid #CCCCCC;
	}
.FCalendarEditor_EditHover
	{
	border:0;
	background-color:#EEFFEE;
	}

.FCalendarEditor_DropPanel
	{
	width:1;
	border:1 solid #666666;
	background-color:#CCCCCC;
	}
.FCalendarEditor_TitlePanel
	{
	width:100%;
	filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=0, startcolorstr=#FFFFFF, endcolorstr=#eae3d5);
	}
.FCalendarEditor_DaysPanel
	{
	width:100%;
	background-color:#eae3d5;
	}
.FCalendarEditor_TimePanel
	{
	width:100%;
	filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=0, startcolorstr=#FFFFFF, endcolorstr=#eae3d5);
	}
.FCalendarEditor_Year
	{
	text-align:right; width:40;
	}
.FCalendarEditor_Month
	{
	text-align:right; width:20;
	}
.FCalendarEditor_Week
	{
	text-align:center;
	width:20px; padding-top:3;
	color:#FFFFFF; background-color:#999999;
	}
.FCalendarEditor_Day
	{
	padding-left:2; padding-right:2;
	text-align:right;
	background-color:#FFFFFF;
	border-left:1 solid #666666; border-top:1 solid #666666; border-right:1 solid #CCCCCC; border-bottom:1 solid #CCCCCC;
	}
.FCalendarEditor_DayHover
	{
	cursor:hand;
	padding-left:2; padding-right:2;
	text-align:right;
	background-color:#CCFFCC;
	border-left:1 solid #CCCCCC; border-top:1 solid #CCCCCC; border-right:1 solid #CCCCCC; border-bottom:1 solid #CCCCCC;
	}
.FCalendarEditor_DaySel
	{
	cursor:hand;
	text-align:right;
	padding-left:2; padding-right:2;
	background-color:#88FF88;
	border-left:1 solid #CCCCCC; border-top:1 solid #CCCCCC; border-right:1 solid #666666; border-bottom:1 solid #666666;
	}
.FCalendarEditor_DayFree
	{
	text-align:right;
	padding-left:2; padding-right:2;
	background-color:#FFFFBB;
	border-left:1 solid #666666; border-top:1 solid #666666; border-right:1 solid #CCCCCC; border-bottom:1 solid #CCCCCC;
	}
.FCalendarEditor_DayNone
	{
	color:#BDB7AC; background-color:#BDB7AC;
	border-left:1 solid #666666; border-top:1 solid #666666; border-right:1 solid #CCCCCC; border-bottom:1 solid #CCCCCC;
	}

.FCalendarEditor_Button
	{
	text-align:center;
	width:13px; height:15px; font-family:Webdings;
	line-height:10px; font-size:10px;
	cursor:hand; border:1px solid #999999;
	}
.FCalendarEditor_ButtonHover
	{
	text-align:center;
	width:13px; height:15px; font-family:Webdings;
	line-height:10px; font-size:10px; background-color:buttonface;
	cursor:hand;
	border-left:1px solid #FFFFFF; border-top:1px solid #FFFFFF; border-right:1px solid #808080; border-bottom:1px solid #808080;
	}
.FCalendarEditor_Time
	{
	width:60;
	text-align:right; 
	}
.FCalendarEditor_Ok
	{
	width:40;
	text-align:center; 
	cursor:hand; border:1px solid #999999;
	}
.FCalendarEditor_Now
	{
	width:40;
	text-align:center; 
	cursor:hand; border:1px solid #999999;
	}

/* ------------------------------------------------------ */
/* FMemoEditor                                            */
/* ------------------------------------------------------ */
.FMemoEditor_Panel
	{
	position:absolute;
	border:0;
	}
.FMemoEditor_DropPanel
	{
	width:1;
	border:1 solid #666666;
	background-color:#CCCCCC;
	}
.FMemoEditor_Edit
	{
	border-left:1 solid #666666; border-top:1 solid #666666; border-right:1 solid #CCCCCC; border-bottom:1 solid #CCCCCC;
	
	}
.FMemoEditor_Memo
	{
	background-color:#FFFFFF;
	width:240; height:120;
	border-left:1 solid #666666; border-top:1 solid #666666; border-right:1 solid #CCCCCC; border-bottom:1 solid #CCCCCC;
	
	}

/* ------------------------------------------------------ */
/* FPickerEditor                                          */
/* ------------------------------------------------------ */
.FPickerEditor_Panel
	{
	position:absolute;
	}
.FPickerEditor_PanelHover
	{
	position:absolute;
	}
.FPickerEditor_Edit
	{
	border-left:1 solid #666666; border-top:1 solid #666666; border-right:1 solid #CCCCCC; border-bottom:1 solid #CCCCCC;
	}
.FPickerEditor_EditHover
	{
	border-left:1 solid #666666; border-top:1 solid #666666; border-right:1 solid #CCCCCC; border-bottom:1 solid #CCCCCC;
	}
.FPickerEditor_Drop
	{
	cursor:hand;
	}
.FPickerEditor_DropPanel
	{
	width:100%; overflow-y:auto;
	border:1 solid #666666;
	background-color:#CCCCCC;
	}
.FPickerEditor_Title
	{
	white-space: nowrap;
	cursor:hand;
	color:#333333;
	padding-left:8; padding-right:8;
	background-color:#408040;
	filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=0, startcolorstr=#FFFFFF, endcolorstr=#EAE3D5);
	}
.FPickerEditor_Row
	{
	cursor:hand;
	background-color:#FFFFFF;
	}
.FPickerEditor_RowHover
	{
	cursor:hand;
	background-color:#C5F8C5;
	}
.FPickerEditor_RowSelect
	{
	cursor:hand;
	color:#333333;
	background-color:#88F088;
	}
.FPickerEditor_Flag
	{
	cursor:hand;
	filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=1, startcolorstr=#FFFFFF, endcolorstr=#EAE3D5);
	}
.FPickerEditor_Cell
	{
	cursor:hand;
	white-space: nowrap;
	filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=1, startcolorstr=#FFFFFF, endcolorstr=#EAE3D5);
	}

/* ------------------------------------------------------ */
/* FCheckPicker                                           */
/* ------------------------------------------------------ */
.FCheckPicker_Panel
	{
	padding:1;
	}
.FCheckPicker_Edit
	{
	border:0; width:100%;
	}

/* ------------------------------------------------------ */
/* FCheckPickerEditor                                          */
/* ------------------------------------------------------ */
.FCheckPickerEditor_Panel
	{
	position:absolute;
	padding:1;
	}
.FCheckPickerEditor_PanelHover
	{
	position:absolute;
	}
.FCheckPickerEditor_Edit
	{
	border:0; width:100%;
	}
.FCheckPickerEditor_EditForm
	{
	border-left:1 solid #666666; border-top:1 solid #666666; border-right:1 solid #CCCCCC; border-bottom:1 solid #CCCCCC;
	}
.FCheckPickerEditor_EditHover
	{
	border-left:1 solid #666666; border-top:1 solid #666666; border-right:1 solid #CCCCCC; border-bottom:1 solid #CCCCCC;
	}
.FCheckPickerEditor_Drop
	{
	cursor:hand;
	}
.FCheckPickerEditor_DropPanel
	{
	width:100%;
	border:1 solid #666666;
	background-color:#CCCCCC;
	}
.FCheckPickerEditor_ItemCheck
	{
	cursor:hand;
	background-color:#FFFFFF;
	width :15;
	font-size:14;
	font-family: Webdings;
	}	
.FCheckPickerEditor_ItemLable
	{
	cursor:hand;
	padding-left:6;
	background-color:#FFFFFF;
	white-space:nowrap;
	}
.FCheckPickerEditor_RowHover
	{
	cursor:hand;
	padding-left:6;
	background-color:#F5FAFA;
	white-space:nowrap;
	}
.FCheckPickerEditor_RowSelect
	{
	cursor:hand;
	padding-left:6;
	color:#333333; background-color:#F5FAFA;
	white-space:nowrap;
	}
.FCheckPickerEditor_Flag
	{
	cursor:hand;
	width:20;
	filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=1, startcolorstr=#FFFFFF, endcolorstr=#EAE3D5);
	}
.FCheckPickerEditor_Check
	{
	cursor:hand;
	width:20;
	border:0;
	}
/* ------------------------------------------------------ */
/* FPicker                                                */
/* ------------------------------------------------------ */
.FPicker_Panel
	{
	padding:1;
	}
.FPicker_Edit
	{
	border-left:1 solid #666666; border-top:1 solid #666666; border-right:1 solid #CCCCCC; border-bottom:1 solid #CCCCCC;
	}

/* ------------------------------------------------------ */
/* Calendar                                               */
/* ------------------------------------------------------ */
.FCalendar_Panel
	{
	padding:1;
	}
.FCalendar_Edit
	{
	border:0; width:100%;
	}

/* ------------------------------------------------------ */
/* Template                                               */
/* ------------------------------------------------------ */
.FTemplate_Panel
	{
	cursor:hand;
	padding-top:4; padding-bottom:4;
	width:100%; 
	}
.FTemplate_Title
	{
	color:#333333; background-color:#FFF0F0;
	border-top:1 solid #767698; border-bottom:1 solid #767698;
	}

/* ------------------------------------------------------ */
/* Table                                                  */
/* ------------------------------------------------------ */
.FTable_Panel
   {
	width:100%;
   }
.FTable_HeadPanel
   {
	position:absolute;
	overflow:hidden;
   }
.FTable_HeadForm
   {
	table-layout:fixed;
   background-color:#29bad5;
   }
.FTable_DataPanel
   {
	overflow:auto;
   }
.FTable_DataForm
   {
	table-layout:fixed;
   background-color:#BFD3EE;
   border-bottom: 1 solid #BFD3EE;
   }
.FTable_HintForm
   {
   width:100%;
   }

.FRow_Panel{
}

/* ------------------------------------------------------ */
/* FCellEditControl                                       */
/* ------------------------------------------------------ */
.FCellEditControl_Panel
   {
   background-color: #FFFFFF;
   }
.FCellEditControl_Edit
   {
   background-color: #FFFFFF;
   width: 100%;
   border: 0;
   }
.FCellEditControl_EditSelect
   {
   background-color: #CEF7FF;
   width: 100%;
   border: 0;
   }
.FCellEditControl_Readonly
   {
   background-color: #FFFFDD;
   }
.FCellEditControl_PanelSelect
   {
   background-color: #CEF7FF;
   }
.FCellEditControl_ReadonlySelect
   {
   background-color: #B7DBE2;
   }
.FCellEditControl_EditReadonly
   {
   background-color: #FFFFDD;
   width: 100%;
   border: 0;
   }
.FCellEditControl_EditReadonlySelect
   {
   background-color: #B7DBE2;
   width: 100%;
   border: 0;
   }

/* ------------------------------------------------------ */
/* Cell                                                   */
/* ------------------------------------------------------ */
.FCell_Panel{
	background-color:#FFFFFF;
}
.FCell_Select{
	background-color:#BDEAEA;
}

/* ------------------------------------------------------ */
/* FColumnEditControl                                     */
/* ------------------------------------------------------ */
.FColumnEditControl_Panel
	{
	height:19;
	font-weight: bolder;
	text-align:center;
	padding-left:1; padding-top:4; padding-right:1;
	}
.FColumnEditControl_HeadLabel
	{
	white-space: nowrap;
	}
.FColumnEditControl_SearchPanel
	{
	}
.FColumnEditControl_SearchEdit
	{
	border:0;
	background-color:#dbeafd;
	width:100%;
	}

/* ------------------------------------------------------ */
/* Column                                                 */
/* ------------------------------------------------------ */
.FColumn_Head
	{
	height:19;
	font-weight: bolder;
	text-align:center;
	padding-left:1; padding-top:4; padding-right:1;
	}
.FColumn_Head2
	{
	font-weight: bolder;
	color:#FFFFFF;
	background-color:#42bed7;
	text-align:center;
	padding-left:1; padding-top:4; padding-right:1;
	}
.FColumn_HeadLabel
	{
	white-space: nowrap;
	}
.FColumn_SearchPanel
	{
	}
.FColumn_SearchEdit
	{
	border:0;
	background-color:#dbeafd;
	width:100%;
	}

/* ------------------------------------------------------ */
/* FColumnCheck                                           */
/* ------------------------------------------------------ */
.FColumnCheck_Cell
	{
	cursor:hand;
	border:0; padding:1; text-align:center;
	}

/* ------------------------------------------------------ */
/* Cell                                                   */
/* ------------------------------------------------------ */
.FCell_Panel{
	background-color:#FFFFFF;
}
.FCell_Select{
	background-color:#BDEAEA;
}

/* ------------------------------------------------------ */
/* ColumnStatus                                           */
/* ------------------------------------------------------ */
.FColumnStatus_Panel
	{
	background-color:#42bed7;
	width:20; padding:0 1;
	}
.FColumnStatus_Check
	{
	cursor:hand;
	border:0;
	}
.FCellStatus_Panel
	{
	cursor:hand;
	width:20; padding:0 1;
	text-align:center;
	background-color:#FFFFFF;
	}
.FCellStatus_Select
	{
	cursor:hand;
	width:20; padding:0 1;
	text-align:center;
	background-color:#BDEAEA;
	}


/* ------------------------------------------------------ */
/* FColumnCheck                                           */
/* ------------------------------------------------------ */
.FColumnCheck_Cell
	{
	border:0; padding:1; text-align:center;
	}
.FCellCheck_Editor
	{
	cursor:hand;
	border:0;
	align:center;
	}
.FCellCheck_EditorSelect
	{
	cursor:hand;
	border:0;
	}
.FCellCheck_Edit
	{
	background-color:#FFFFFF;
	}

/* ------------------------------------------------------ */
/* FColumnSelect                                          */
/* ------------------------------------------------------ */
.FColumnSelect_Cell
	{
	border:0; padding:1; text-align:center;
	}
.FCellSelect_Editor
	{
	border:0;
	}
.FCellSelect_EditorSelect
	{
	border:0;
	background-color:#BDEAEA;
	}
.FCellSelect_Edit
	{
	background-color:#FFFFFF;
	}
.FCellSelect_Select
	{
	background-color:#BDEAEA;
	}
.FCellSelect_Drop
	{
	cursor:hand;
	}
/* ------------------------------------------------------ */
/* FHintWindow                                            */
/* ------------------------------------------------------ */
.FHintWindow_Panel
	{
		z-index: 20000; width: 200; height: 160; left: 250; top: 50; 
		background-color: slategray; color: slategray; font-size: 10px; font-family: Verdana;
		position: absolute; cursor: default; border: 2px solid slategray;
	}
.FHintWindow_Form
	{
		width: 200; height: 160; left: 250; top: 50;
	}
.FHintWindow_Title
	{
		background-color: slategray; width: 196; height: 20; color: white;
	}
.FHintWindow_Box
	{
		width: 100%; height: 136; background-color: white; line-height: 14px; word-break: break-all; padding: 3px;
	}
/* ------------------------------------------------------ */
/* FMessageBox                                            */
/* ------------------------------------------------------ */	
.FMessageBox_Panel
	{
	width:100%; height:100%;
	border: 1 solid red;
	}
.FMessageBox_Title
	{
	height:1;
	padding-left: 8;
	color:#FFFFFF; font-weight:bold;
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FF8866', endColorStr='#FFFFDD', gradientType='1');
	}
.FMessageBox_Message
	{
	height:100%;
	vertical-align:top;
	border:1 solid #666666;
	background-color:#FFFFFF;
	}
.FMessageBox_MessageIcon
	{
	width:1;
	padding:2 8;
	}
.FMessageBox_MessageText
	{
	}
.FMessageBox_Description
	{
	height:80;
	border:1 solid #666666;
	background-color:#FFFFFF;
	}
.FMessageBox_ButtonPanel
	{
	width:80; text-align:center; vertical-align:top;
	padding-top:8;
	background-color:#FFFFDD;
	}
.FMessageBox_Button
	{
	cursor:hand;
	width:60; height:20; padding:4; margin:4;
	background-color:#DDDDEE;
	border-left:1 solid #F0F0F0; border-top:1 solid #F0F0F0; border-right:1 solid #666666; border-bottom:1 solid #666666;
	}

/* ------------------------------------------------------ */
/* FColumnTextEditor                                      */
/* ------------------------------------------------------ */
.FColumnTextEditor_Panel
	{
	position:absolute;
	border:0;
	}
.FColumnTextEditor_Edit
	{
	border:0;
	}
.FColumnTextEditor_EditHover
	{
	border:0;
	}

/* ------------------------------------------------------ */
/* FColumnCheckEditor                                     */
/* ------------------------------------------------------ */
.FColumnCheckEditor_Panel
	{
	position:absolute;
	border:0;
	}
.FColumnCheckEditor_Edit
	{
	border:0;
	}
.FColumnCheckEditor_EditHover
	{
	border:0;
	}

/* ------------------------------------------------------ */
/* FColumnSelectEditor                                      */
/* ------------------------------------------------------ */
.FColumnSelectEditor_Panel
	{
	position:absolute;
	border:0;
	}
.FColumnSelectEditor_Edit
	{
	border:0;
	}
.FColumnSelectEditor_EditHover
	{
	border:0;
	}

/* ------------------------------------------------------ */
/* FListBox                                              */
/* ------------------------------------------------------ */
.FListBox_Panel
	{
	width:100%; height:100%;
	border-left:1 solid #CCCCCC; border-top:1 solid #CCCCCC; border-right:1 solid #666666; border-bottom:1 solid #666666;
	padding:2;
	background-color:#DDDDEE;
	}

/* ------------------------------------------------------ */
/* FListItem                                              */
/* ------------------------------------------------------ */
.FListItem_Panel
	{
	width:100%;
	border-left:1 solid #666666; border-top:1 solid #666666; border-right:1 solid #CCCCCC; border-bottom:1 solid #CCCCCC;
	}
.FListItem_Design
	{
	width:100%;
	border-left:1 solid #AAAAAA; border-top:1 solid #AAAAAA; border-right:1 solid #666666; border-bottom:1 solid #666666;
	}
.FListItem_Body
	{
	width:100%;
	padding:2;
	background-color:#FFFFFF;
	}
.FListItem_Line
	{
	margin-left: 4; margin-right:4;
	}
.FListItem_Icon
	{
	width:1;
	padding-left: 4; padding-right:4;
	}
.FListItem_Label
	{
	white-space: nowrap;
	margin-left: 4; margin-right:4;
	}

/* ------------------------------------------------------ */
/* FPopupMenu                                             */
/* ------------------------------------------------------ */
.FPopupMenu_Panel
	{
	position:absolute;
	border-left:1 solid #F0F0F0; border-top:1 solid #F0F0F0; border-right:1 solid #666666; border-bottom:1 solid #666666;
	background-color:#EAE3D5;
	}
.FPopupMenu_Caption
	{
	height:6;
	border-bottom:1 solid #FFFFFF;
	background-color:#666666;
	/*filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=0, startcolorstr=#CCCCCC, endcolorstr=#666666);*/
	}
.FPopupMenu_Button
	{
	padding-top: 3; padding-left:4; padding-right:4;
	}

.FPopupMenu_Drop
	{
	width:1; cursor:hand;
	border-left:1 solid #7B7975;
	padding:1px;
	font-family:Webdings; line-height:6px; font-size:10px;
	}
.FPopupMenu_Hover
	{
	width:1; cursor:hand;
	border-left:1 solid #FFFFFF; border-right:1 solid #7b7975;
	filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=0, startcolorstr=#FFFFFF, endcolorstr=#BDB7AC);
	}
.FPopupMenu_Press
	{
	width:1; cursor:hand;
	border-left:1 solid #FFFFFF; border-right:1 solid #7B7975;
	filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=0, startcolorstr=#BDB7AC, endcolorstr=#FFFFFF);
	}

/* ------------------------------------------------------ */
/* FSearchBox                                             */
/* ------------------------------------------------------ */
.FSearchBox_Panel
	{
	width:500; height:280;
	position:absolute;
	background-color:#FFFFFF;
	border-left:1 solid #CCCCCC; border-top:1 solid #CCCCCC; border-right:1 solid #666666; border-bottom:1 solid #666666;
	}
.FSearchBox_TitlePanel
	{
	color:#FFFFFF;
	height:1;
	padding:4;
	filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=1, startcolorstr=#3355F4, endcolorstr=#BEACEC);
	}
.FSearchBox_FieldsPanel
	{
	vertical-align: top;
	color:#FFFFFF;
	padding:4;
	border-left:1 solid #CCCCCC; border-top:1 solid #CCCCCC; border-right:1 solid #666666; border-bottom:1 solid #666666;
	}
.FSearchBox_TypePanel
	{
	padding-left:8;
	}
.FSearchBox_OrderPanel
	{
	padding-left:8;
	}

/* ------------------------------------------------------ */
/* FSearchEdit                                            */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* FButton                                                */
/* ------------------------------------------------------ */
.FButton_Panel
	{
	cursor:hand;
	padding:2 8;
	}
.FButton_Form
	{
	BORDER-RIGHT: #2C59AA 1px solid; PADDING-RIGHT: 2px; 
	BORDER-TOP: #2C59AA 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#C3DAF5); 
	BORDER-LEFT: #2C59AA 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #2C59AA 1px solid
	}
.FButton_Form2
	{
	border:blue 5 solid;
	}
.FButton_Icon
	{
	white-space: nowrap;
	}
.FButton_Label
	{
	padding-left:4;
	white-space: nowrap;
	}

/* ------------------------------------------------------ */
/* FListView                                              */
/* ------------------------------------------------------ */
.FListView_Panel
	{
	width:600; height:300;
	position:absolute;
	background-color:#FFFFFF;
	border-left:1 solid #CCCCCC; border-top:1 solid #CCCCCC; border-right:1 solid #666666; border-bottom:1 solid #666666;
	}
.FListView_TitlePanel
	{
	color:#FFFFFF;
	height:1;
	padding:4;
	filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=1, startcolorstr=#3355F4, endcolorstr=#BEACEC);
	}
.FListView_FieldsPanel
	{
	vertical-align: top;
	color:#FFFFFF;
	padding:4;
	border-left:1 solid #CCCCCC; border-top:1 solid #CCCCCC; border-right:1 solid #666666; border-bottom:1 solid #666666;
	}
.FListView_TypePanel
	{
	padding-left:8;
	}
.FListView_OrderPanel
	{
	padding-left:8;
	}

/* ------------------------------------------------------ */
/* FWindow                                                */
/* ------------------------------------------------------ */
.FWindow_Panel
	{
	position:absolute;
	width:600; height:300;
	border-left:1 solid #CCCCCC; border-top:1 solid #CCCCCC; border-right:1 solid #666666; border-bottom:1 solid #666666;
	}
.FWindow_Title
	{
	width:100%;
	color:#FFFFFF;
	height:1;
	padding:4;
	filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=1, startcolorstr=#3355F4, endcolorstr=#BEACEC);
	}
.FWindow_Inner
	{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60, style=0);
	}
.FWindow_Caption
	{
	color:#FFFFFF;
	vertical-align:bottom;
	line-height:12px;
	}
.FWindow_Body
	{
	width:100%; height:100%;
	padding:4;
	background-color:#FFFFFF;
	border-left:1 solid #CCCCCC; border-right:1 solid #CCCCCC; border-bottom:1 solid #CCCCCC;
	}
.FWindow_BodyHover
	{
	width:100%; height:100%;
	padding:4;
	background-color:#FFFFFF;
	border-left:1 solid #CCCCCC; border-right:1 solid #CCCCCC; border-bottom:1 solid #CCCCCC;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60, style=0);
	}
.FWindow_Button
	{
	color:#000000; background-color:#FFFFFF;
	font-family:webdings; width:11px; line-height:11px;
	border:1px solid #758D5E;
	}





/* ------------------------------------------------------ */
/* FSearchWindow                                          */
/* ------------------------------------------------------ */
.FSearchWindow_Panel
	{
	width:500; height:280;
	background-color:#FFFFFF;
	border-left:1 solid #CCCCCC; border-top:1 solid #CCCCCC; border-right:1 solid #666666; border-bottom:1 solid #666666;
	}
.FSearchWindow_TitlePanel
	{
	color:#FFFFFF;
	height:1;
	padding:4;
	filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=1, startcolorstr=#3355F4, endcolorstr=#BEACEC);
	}
.FSearchWindow_FieldsPanel
	{
	vertical-align: top;
	color:#FFFFFF;
	padding:4;
	border-left:1 solid #CCCCCC; border-top:1 solid #CCCCCC; border-right:1 solid #666666; border-bottom:1 solid #666666;
	}
.FSearchWindow_TypePanel
	{
	padding-left:8;
	}
.FSearchWindow_OrderPanel
	{
	padding-left:8;
	}

/* ------------------------------------------------------ */
/* FListWindow                                            */
/* ------------------------------------------------------ */
.FListWindow_Panel2
	{
	width:500; height:280;
	background-color:#FFFFFF;
	border-left:1 solid #CCCCCC; border-top:1 solid #CCCCCC; border-right:1 solid #666666; border-bottom:1 solid #666666;
	}
.FListWindow_TitlePanel2
	{
	color:#FFFFFF;
	height:1;
	padding:4;
	filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=1, startcolorstr=#3355F4, endcolorstr=#BEACEC);
	}
.FListWindow_TablePanel
	{
	vertical-align: top;
	color:#FFFFFF;
	padding:4;
	border-left:1 solid #CCCCCC; border-top:1 solid #CCCCCC; border-right:1 solid #666666; border-bottom:1 solid #666666;
	}
.FListWindow_ButtonPanel
	{
		width:80;
	}


/* ------------------------------------------------------ */
/* FMessageWindow                                         */
/* ------------------------------------------------------ */
.FMessageWindow_Title
	{
	width:100%;
	color:#FFFFFF;
	height:1;
	padding:4;
	filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=1, startcolorstr=#E43FFC, endcolorstr=#F4E6FF);
	}
.FMessageWindow_MsgPanel
	{
	width:100%; height:100%;
	border: 1 solid red;
	}
.FMessageWindow_MsgTitle
	{
	height:1;
	padding-left: 8;
	color:#FFFFFF; font-weight:bold;
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FF8866', endColorStr='#FFFFDD', gradientType='1');
	}
.FMessageWindow_Message
	{
	height:100%;
	vertical-align:top;
	border-top:1 solid #666666; border-bottom:1 solid #666666;
	background-color:#FFFFFF;
	}
.FMessageWindow_MessageIcon
	{
	width:1;
	padding:2 8;
	}
.FMessageWindow_MessageText
	{
	}
.FMessageWindow_DescriptionPanel
	{
	height:100;
	border-top:1 solid #666666;
	background-color:#FFFFFF;
	}
.FMessageWindow_Description
	{
	width:100%; height:100%;
	overflow:auto;
	}
.FMessageWindow_ButtonPanel
	{
	width:90; text-align:center; vertical-align:top;
	padding-top:0;
	}
.FMessageWindow_Button1
	{
	width:1; cursor:hand;
	font-family:webdings;
	border-left:1 solid #FFFFFF; border-right:1 solid #29bad5;
	filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=0, startcolorstr=#FFFFFF, endcolorstr=#b0e0e0);
	}
