/* ------------------------------------------------------ */
/* FDsMainWorkspace                                       */
/* ------------------------------------------------------ */
.FDsMainWorkspace_Toolbar_Ground{
   background: #AEAEAE;
   padding-top: 3px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #AEAEAE, #666666);
   background: -moz-linear-gradient(top, #AEAEAE, #666666); 
   background: -webkit-gradient(linear, left top, left bottom, from(#AEAEAE), to(#666666)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#AEAEAE, endColorStr=#666666);
}

.FDsMainWorkspace_Statusbar_Ground{
   background: #AEAEAE;
   border-top: 1px solid #999999;
   background: -ms-linear-gradient(top, #555555, #AEAEAE);
   background: -moz-linear-gradient(top, #555555, #AEAEAE); 
   background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#AEAEAE)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#555555, endColorStr=#AEAEAE);
}

.FDsMainWorkspace_Catalog_Ground{
   background: #FFFFFF;
}

.FDsMainWorkspace_Workspace_Ground{
   background: #666666;
}

.FDsMainWorkspace_Property_Ground{
   background: #444444;
}

/* ------------------------------------------------------ */
/* FDsSolutionWorkspace                                   */
/* ------------------------------------------------------ */
.FDsSolutionWorkspace_Toolbar_Ground{
   background: #AEAEAE;
   padding-top: 1px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #AEAEAE, #999999);
   background: -moz-linear-gradient(top, #AEAEAE, #999999); 
   background: -webkit-gradient(linear, left top, left bottom, from(#AEAEAE), to(#999999)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#AEAEAE, endColorStr=#999999);
}

.FDsSolutionWorkspace_Statusbar_Ground{
   background: #AEAEAE;
   border-top: 1px solid #999999;
   background: -ms-linear-gradient(top, #555555, #AEAEAE);
   background: -moz-linear-gradient(top, #555555, #AEAEAE); 
   background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#AEAEAE)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#555555, endColorStr=#AEAEAE);
}

.FDsSolutionWorkspace_Catalog_Toolbar{
   background: #AEAEAE;
   padding-top: 1px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #CFCFCF, #BBBBBB);
   background: -moz-linear-gradient(top, #CFCFCF, #BBBBBB); 
   background: -webkit-gradient(linear, left top, left bottom, from(#CFCFCF), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#CFCFCF, endColorStr=#BBBBBB);
}

.FDsSolutionWorkspace_Catalog_Ground{
   background: #EEEEEE;
}

.FDsSolutionWorkspace_Search_Toolbar{
   background: #AEAEAE;
   padding-top: 1px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #CFCFCF, #BBBBBB);
   background: -moz-linear-gradient(top, #CFCFCF, #BBBBBB); 
   background: -webkit-gradient(linear, left top, left bottom, from(#CFCFCF), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#CFCFCF, endColorStr=#BBBBBB);
}

.FDsSolutionWorkspace_Search_Ground{
   background: #EEEEEE;
}

.FDsSolutionWorkspace_Preview_Toolbar{
   background: #AEAEAE;
   padding-top: 1px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #CFCFCF, #BBBBBB);
   background: -moz-linear-gradient(top, #CFCFCF, #BBBBBB); 
   background: -webkit-gradient(linear, left top, left bottom, from(#CFCFCF), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#CFCFCF, endColorStr=#BBBBBB);
}

.FDsSolutionWorkspace_Preview_Ground{
   background: #EEEEEE;
}

.FDsSolutionWorkspace_Workspace_Ground{
   background: #EEEEEE;
}

.FDsSolutionWorkspace_Property_Ground{;
   background: #777777;
}

/* ------------------------------------------------------ */
/* FDsSolutionFrameSet                                    */
/* ------------------------------------------------------ */
.FDsSolutionFrameSet_Catalog_Toolbar{
   background: #AEAEAE;
   padding-top: 1px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #CFCFCF, #BBBBBB);
   background: -moz-linear-gradient(top, #CFCFCF, #BBBBBB); 
   background: -webkit-gradient(linear, left top, left bottom, from(#CFCFCF), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#CFCFCF, endColorStr=#BBBBBB);
}

.FDsSolutionFrameSet_Catalog_Ground{
   background: #EEEEEE;
}

.FDsSolutionFrameSet_List_Toolbar{
   background: #AEAEAE;
   padding-top: 1px;
   padding-left: 6px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #CFCFCF, #BBBBBB);
   background: -moz-linear-gradient(top, #CFCFCF, #BBBBBB); 
   background: -webkit-gradient(linear, left top, left bottom, from(#CFCFCF), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#CFCFCF, endColorStr=#BBBBBB);
}

.FDsSolutionFrameSet_List_Ground{
   background: #EEEEEE;
}

.FDsSolutionFrameSet_Property_Toolbar{
   background: #AEAEAE;
   padding-top: 1px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #CFCFCF, #BBBBBB);
   background: -moz-linear-gradient(top, #CFCFCF, #BBBBBB); 
   background: -webkit-gradient(linear, left top, left bottom, from(#CFCFCF), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#CFCFCF, endColorStr=#BBBBBB);
}

.FDsSolutionFrameSet_Property_Ground{
   background: #EEEEEE;
}

/* ------------------------------------------------------ */
/* FDsProjectWorkspace                                   */
/* ------------------------------------------------------ */
.FDsProjectWorkspace_Toolbar_Ground{
   background: #AEAEAE;
   padding-top: 1px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #AEAEAE, #999999);
   background: -moz-linear-gradient(top, #AEAEAE, #999999); 
   background: -webkit-gradient(linear, left top, left bottom, from(#AEAEAE), to(#999999)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#AEAEAE, endColorStr=#999999);
}

.FDsProjectWorkspace_Statusbar_Ground{
   background: #AEAEAE;
   border-top: 1px solid #999999;
   background: -ms-linear-gradient(top, #555555, #AEAEAE);
   background: -moz-linear-gradient(top, #555555, #AEAEAE); 
   background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#AEAEAE)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#555555, endColorStr=#AEAEAE);
}

.FDsProjectWorkspace_Catalog_Toolbar{
   background: #AEAEAE;
   padding-top: 1px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #CFCFCF, #BBBBBB);
   background: -moz-linear-gradient(top, #CFCFCF, #BBBBBB); 
   background: -webkit-gradient(linear, left top, left bottom, from(#CFCFCF), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#CFCFCF, endColorStr=#BBBBBB);
}

.FDsProjectWorkspace_Catalog_Ground{
   background: #EEEEEE;
}

.FDsProjectWorkspace_Search_Toolbar{
   background: #AEAEAE;
   padding-top: 1px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #CFCFCF, #BBBBBB);
   background: -moz-linear-gradient(top, #CFCFCF, #BBBBBB); 
   background: -webkit-gradient(linear, left top, left bottom, from(#CFCFCF), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#CFCFCF, endColorStr=#BBBBBB);
}

.FDsProjectWorkspace_Search_Ground{
   background: #EEEEEE;
}

.FDsProjectWorkspace_Preview_Toolbar{
   background: #AEAEAE;
   padding-top: 1px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #CFCFCF, #BBBBBB);
   background: -moz-linear-gradient(top, #CFCFCF, #BBBBBB); 
   background: -webkit-gradient(linear, left top, left bottom, from(#CFCFCF), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#CFCFCF, endColorStr=#BBBBBB);
}

.FDsProjectWorkspace_Preview_Ground{
   background: #EEEEEE;
}

.FDsProjectWorkspace_Workspace_Ground{
   background: #EEEEEE;
}

.FDsProjectWorkspace_Property_Ground{;
   background: #777777;
}

/* ------------------------------------------------------ */
/* FDsProjectFrameSet                                   */
/* ------------------------------------------------------ */
.FDsProjectFrameSet_FrameSet_Ground{
   background: #EEEEEE;
}

.FDsProjectFrameSet_PageControl{
   width: 100%;
   height: 100%;
}

.FDsProjectFrameSet_Toolbar_Ground{
   padding: 1px 4px;
   border-bottom: 1px solid #999999;
   background-color: #AEAEAE;
   background: -ms-linear-gradient(top, #EEEEEE, #BBBBBB);
   background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB); 
   background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#EEEEEE, endColorStr=#BBBBBB);
}

.FDsProjectFrameSet_Catalog_Ground{
   padding-top: 4px;
   background-color: #CCCCCC;
}

.FDsProjectFrameSet_Catalog_Content{
   background: #FFFFFF;
}

.FDsProjectFrameSet_Canvas_Ground{
   padding-top: 4px;
   background-color: #CCCCCC;
}

.FDsProjectFrameSet_Canvas_Content{
   background: #777777;
}

.FDsProjectFrameSet_Property_Ground{
   padding-top: 4px;
   background-color: #CCCCCC;
}

.FDsProjectFrameSet_Property_Content{
   background-color: #777777;
}

/* ------------------------------------------------------ */
/* FDsResourceListItem                                    */
/* ------------------------------------------------------ */
.FDsResourceListItem_TypePanel{
   padding: 4px;
}

.FDsResourceListItem_TypeLabel{
   text-align: left;
   width: 80px;
   padding: 2px 8px 2px;
   color: #CCCCCC;
   z-index: 1;
   border: 1px solid #999999;
   background: rgba(1, 1, 1, 0.6);
}

/* ------------------------------------------------------ */
/* FDsResourceFrameSet                                   */
/* ------------------------------------------------------ */
.FDsResourceFrameSet_Catalog_Toolbar{
   background: #AEAEAE;
   padding-top: 1px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #CFCFCF, #BBBBBB);
   background: -moz-linear-gradient(top, #CFCFCF, #BBBBBB); 
   background: -webkit-gradient(linear, left top, left bottom, from(#CFCFCF), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#CFCFCF, endColorStr=#BBBBBB);
}

.FDsResourceFrameSet_Catalog_Ground{
   background: #EEEEEE;
}

.FDsResourceFrameSet_List_Toolbar{
   background: #AEAEAE;
   padding-top: 1px;
   padding-left: 6px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #CFCFCF, #BBBBBB);
   background: -moz-linear-gradient(top, #CFCFCF, #BBBBBB); 
   background: -webkit-gradient(linear, left top, left bottom, from(#CFCFCF), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#CFCFCF, endColorStr=#BBBBBB);
}

.FDsResourceFrameSet_List_Ground{
   background: #EEEEEE;
}

.FDsResourceFrameSet_Property_Toolbar{
   background: #AEAEAE;
   padding-top: 1px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #CFCFCF, #BBBBBB);
   background: -moz-linear-gradient(top, #CFCFCF, #BBBBBB); 
   background: -webkit-gradient(linear, left top, left bottom, from(#CFCFCF), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#CFCFCF, endColorStr=#BBBBBB);
}

.FDsResourceFrameSet_Property_Ground{
   background: #EEEEEE;
}

/* ------------------------------------------------------ */
/* FDsResourceWorkspace                                   */
/* ------------------------------------------------------ */
.FDsResourceWorkspace_Toolbar_Ground{
   background: #AEAEAE;
   padding-top: 1px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #AEAEAE, #999999);
   background: -moz-linear-gradient(top, #AEAEAE, #999999); 
   background: -webkit-gradient(linear, left top, left bottom, from(#AEAEAE), to(#999999)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#AEAEAE, endColorStr=#999999);
}

.FDsResourceWorkspace_Statusbar_Ground{
   background: #AEAEAE;
   border-top: 1px solid #999999;
   background: -ms-linear-gradient(top, #555555, #AEAEAE);
   background: -moz-linear-gradient(top, #555555, #AEAEAE); 
   background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#AEAEAE)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#555555, endColorStr=#AEAEAE);
}

.FDsResourceWorkspace_Catalog_Toolbar{
   background: #AEAEAE;
   padding-top: 1px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #CFCFCF, #BBBBBB);
   background: -moz-linear-gradient(top, #CFCFCF, #BBBBBB); 
   background: -webkit-gradient(linear, left top, left bottom, from(#CFCFCF), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#CFCFCF, endColorStr=#BBBBBB);
}

.FDsResourceWorkspace_Catalog_Ground{
   background: #EEEEEE;
}

.FDsResourceWorkspace_Search_Toolbar{
   background: #AEAEAE;
   padding-top: 1px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #CFCFCF, #BBBBBB);
   background: -moz-linear-gradient(top, #CFCFCF, #BBBBBB); 
   background: -webkit-gradient(linear, left top, left bottom, from(#CFCFCF), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#CFCFCF, endColorStr=#BBBBBB);
}

.FDsResourceWorkspace_Search_Ground{
   background: #EEEEEE;
}

.FDsResourceWorkspace_Preview_Toolbar{
   background: #AEAEAE;
   padding-top: 1px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #CFCFCF, #BBBBBB);
   background: -moz-linear-gradient(top, #CFCFCF, #BBBBBB); 
   background: -webkit-gradient(linear, left top, left bottom, from(#CFCFCF), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#CFCFCF, endColorStr=#BBBBBB);
}

.FDsResourceWorkspace_Preview_Ground{
   background: #EEEEEE;
}

.FDsResourceWorkspace_Workspace_Ground{
   background: #EEEEEE;
}

.FDsResourceWorkspace_Property_Ground{;
   background: #777777;
}

/* ------------------------------------------------------ */
/* FDsBitmapCatalogItem                                   */
/* ------------------------------------------------------ */
.FDsBitmapCatalogItem_TypePanel{
   padding: 4px;
}

.FDsBitmapCatalogItem_TypeLabel{
   text-align: left;
   width: 80px;
   padding: 2px 8px 2px;
   color: #CCCCCC;
   z-index: 1;
   border: 1px solid #999999;
   background: rgba(1, 1, 1, 0.6);
}

/* ------------------------------------------------------ */
/* FDsBitmapFrameSet                                   */
/* ------------------------------------------------------ */
.FDsBitmapFrameSet_ToolBar_Ground{
   background: #AEAEAE;
   padding-top: 1px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #CFCFCF, #BBBBBB);
   background: -moz-linear-gradient(top, #CFCFCF, #BBBBBB); 
   background: -webkit-gradient(linear, left top, left bottom, from(#CFCFCF), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#CFCFCF, endColorStr=#BBBBBB);
}

.FDsBitmapFrameSet_Catalog_Ground{
   background: #EEEEEE;
}

.FDsBitmapFrameSet_Search_Ground{
   background: #EEEEEE;
}

.FDsBitmapFrameSet_Preview_Ground{
   background: #EEEEEE;
}

.FDsBitmapFrameSet_FrameSet_Ground{
   background: #EEEEEE;
}

.FDsBitmapFrameSet_Property_Ground{;
   background: #777777;
}

/* ------------------------------------------------------ */
/* FDsMeshFrameSet                                   */
/* ------------------------------------------------------ */
.FDsMeshFrameSet_Toolbar_Ground{
   background: #AEAEAE;
   padding-top: 1px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #AEAEAE, #999999);
   background: -moz-linear-gradient(top, #AEAEAE, #999999); 
   background: -webkit-gradient(linear, left top, left bottom, from(#AEAEAE), to(#999999)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#AEAEAE, endColorStr=#999999);
}

.FDsMeshFrameSet_Statusbar_Ground{
   background: #AEAEAE;
   border-top: 1px solid #999999;
   background: -ms-linear-gradient(top, #555555, #AEAEAE);
   background: -moz-linear-gradient(top, #555555, #AEAEAE); 
   background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#AEAEAE)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#555555, endColorStr=#AEAEAE);
}

.FDsMeshFrameSet_Catalog_Toolbar{
   background: #AEAEAE;
   padding-top: 1px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #CFCFCF, #BBBBBB);
   background: -moz-linear-gradient(top, #CFCFCF, #BBBBBB); 
   background: -webkit-gradient(linear, left top, left bottom, from(#CFCFCF), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#CFCFCF, endColorStr=#BBBBBB);
}

.FDsMeshFrameSet_Catalog_Ground{
   background: #EEEEEE;
}

.FDsMeshFrameSet_Search_Toolbar{
   background: #AEAEAE;
   padding-top: 1px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #CFCFCF, #BBBBBB);
   background: -moz-linear-gradient(top, #CFCFCF, #BBBBBB); 
   background: -webkit-gradient(linear, left top, left bottom, from(#CFCFCF), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#CFCFCF, endColorStr=#BBBBBB);
}

.FDsMeshFrameSet_Search_Ground{
   background: #EEEEEE;
}

.FDsMeshFrameSet_Preview_Toolbar{
   background: #AEAEAE;
   padding-top: 1px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #CFCFCF, #BBBBBB);
   background: -moz-linear-gradient(top, #CFCFCF, #BBBBBB); 
   background: -webkit-gradient(linear, left top, left bottom, from(#CFCFCF), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#CFCFCF, endColorStr=#BBBBBB);
}

.FDsMeshFrameSet_Preview_Ground{
   background: #EEEEEE;
}

.FDsMeshFrameSet_Workspace_Ground{
   background: #EEEEEE;
}

.FDsMeshFrameSet_Property_Ground{;
   background: #777777;
}

/* ------------------------------------------------------ */
/* FDsMeshWorkspace                                       */
/* ------------------------------------------------------ */
.FDsMeshWorkspace_Toolbar_Ground{
   background: #AEAEAE;
   padding-top: 1px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #AEAEAE, #999999);
   background: -moz-linear-gradient(top, #AEAEAE, #999999); 
   background: -webkit-gradient(linear, left top, left bottom, from(#AEAEAE), to(#999999)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#AEAEAE, endColorStr=#999999);
}

.FDsMeshWorkspace_Statusbar_Ground{
   background: #AEAEAE;
   border-top: 1px solid #999999;
   background: -ms-linear-gradient(top, #555555, #AEAEAE);
   background: -moz-linear-gradient(top, #555555, #AEAEAE); 
   background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#AEAEAE)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#555555, endColorStr=#AEAEAE);
}

.FDsMeshWorkspace_Catalog_Ground{
   padding-top: 4px;
   background: #FFFFFF;
}

.FDsMeshWorkspace_Workspace_Ground{
   background: #666666;
}

.FDsMeshWorkspace_Property_Ground{;
   background: #777777;
}

/* ------------------------------------------------------ */
/* FDsTemplateWorkspace                                   */
/* ------------------------------------------------------ */
.FDsTemplateWorkspace_Toolbar_Ground{
   background: #AEAEAE;
   padding-top: 3px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #AEAEAE, #555555);
   background: -moz-linear-gradient(top, #AEAEAE, #555555); 
   background: -webkit-gradient(linear, left top, left bottom, from(#AEAEAE), to(#555555)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#AEAEAE, endColorStr=#555555);
}

.FDsTemplateWorkspace_Statusbar_Ground{
   background: #AEAEAE;
   border-top: 1px solid #999999;
   background: -ms-linear-gradient(top, #555555, #AEAEAE);
   background: -moz-linear-gradient(top, #555555, #AEAEAE); 
   background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#AEAEAE)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#555555, endColorStr=#AEAEAE);
}

.FDsTemplateWorkspace_Catalog_Ground{
   padding-top: 4px;
   background: #FFFFFF;
}

.FDsTemplateWorkspace_Workspace_Ground{
   background: #666666;
}

.FDsTemplateWorkspace_Property_Ground{
   background: #777777;
}

/* ------------------------------------------------------ */
/* FDsSceneWorkspace                                      */
/* ------------------------------------------------------ */
.FDsSceneWorkspace_Toolbar_Ground{
   background: #AEAEAE;
   padding-top: 1px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #AEAEAE, #999999);
   background: -moz-linear-gradient(top, #AEAEAE, #999999); 
   background: -webkit-gradient(linear, left top, left bottom, from(#AEAEAE), to(#999999)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#AEAEAE, endColorStr=#999999);
}

.FDsSceneWorkspace_Statusbar_Ground{
   background: #AEAEAE;
   border-top: 1px solid #999999;
   background: -ms-linear-gradient(top, #555555, #AEAEAE);
   background: -moz-linear-gradient(top, #555555, #AEAEAE); 
   background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#AEAEAE)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#555555, endColorStr=#AEAEAE);
}

.FDsSceneWorkspace_Catalog_Ground{
   padding-top: 4px;
   background: #FFFFFF;
}

.FDsSceneWorkspace_Workspace_Ground{
   background: #666666;
}

.FDsSceneWorkspace_Property_Ground{;
   background: #777777;
}
