<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Texture code="pvw.showcase.006.07" name="\pvw\showcase\006.07" label="体积光.树林" full_label="\展示\展台\体积光.树林">
    <Bitmap type_name="diffuse" index="0" tick="100" source="\fd-pvw-展示\fd-showcase-展台\tx-006.07-体积光.树林\diffuse.jpg" />
    <Bitmap type_name="alpha" index="1" tick="100" source="\fd-pvw-展示\fd-showcase-展台\tx-006.07-体积光.树林\alpha.jpg" />
    <Bitmap type_name="normal" index="2" tick="100" source="\fd-pvw-展示\fd-showcase-展台\tx-006.07-体积光.树林\normal.jpg" />
    <Bitmap type_name="specular.level" index="3" tick="100" source="\fd-pvw-展示\fd-showcase-展台\tx-006.07-体积光.树林\specular.level.jpg" />
  </Texture>
</Configuration>