<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Texture code="pvw.show.004.01" name="\pvw\show\004.01" label="人头像" full_label="\展示\展示\人头像">
    <Bitmap type_name="diffuse" index="0" tick="100" source="\fd-pvw-展示\fd-show-展示\tx-004.01-人头像\diffuse.jpg" />
    <Bitmap type_name="specular.level" index="1" tick="100" source="\fd-pvw-展示\fd-show-展示\tx-004.01-人头像\specular.level.jpg" />
  </Texture>
</Configuration>