/* ------------------------------------------------------ */
/* FDsMainWorkspace                                       */
/* ------------------------------------------------------ */
.FDsMainWorkspace_Toolbar_Ground{
   background: #AEAEAE;
   padding-top: 3px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #AEAEAE, #555555);
   background: -moz-linear-gradient(top, #AEAEAE, #555555); 
   background: -webkit-gradient(linear, left top, left bottom, from(#AEAEAE), to(#555555)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#AEAEAE, endColorStr=#555555);
}

.FDsMainWorkspace_Statusbar_Ground{
   background: #AEAEAE;
   border-top: 1px solid #999999;
   background: -ms-linear-gradient(top, #555555, #AEAEAE);
   background: -moz-linear-gradient(top, #555555, #AEAEAE); 
   background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#AEAEAE)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#555555, endColorStr=#AEAEAE);
}

.FDsMainWorkspace_Catalog_Ground{
   background: #FFFFFF;
}

.FDsMainWorkspace_Workspace_Ground{
   background: #666666;
}

.FDsMainWorkspace_Property_Ground{
   background: #444444;
}

/* ------------------------------------------------------ */
/* FDsTemplateWorkspace                                       */
/* ------------------------------------------------------ */
.FDsTemplateWorkspace_Toolbar_Ground{
   background: #AEAEAE;
   padding-top: 3px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #AEAEAE, #555555);
   background: -moz-linear-gradient(top, #AEAEAE, #555555); 
   background: -webkit-gradient(linear, left top, left bottom, from(#AEAEAE), to(#555555)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#AEAEAE, endColorStr=#555555);
}

.FDsTemplateWorkspace_Statusbar_Ground{
   background: #AEAEAE;
   border-top: 1px solid #999999;
   background: -ms-linear-gradient(top, #555555, #AEAEAE);
   background: -moz-linear-gradient(top, #555555, #AEAEAE); 
   background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#AEAEAE)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#555555, endColorStr=#AEAEAE);
}

.FDsTemplateWorkspace_Catalog_Ground{
   padding-top: 4px;
   background: #FFFFFF;
}

.FDsTemplateWorkspace_Workspace_Ground{
   background: #666666;
}

.FDsTemplateWorkspace_Property_Ground{
   background: #777777;
}

/* ------------------------------------------------------ */
/* FDsSceneWorkspace                                       */
/* ------------------------------------------------------ */
.FDsSceneWorkspace_Toolbar_Ground{
   background: #AEAEAE;
   padding-top: 3px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #AEAEAE, #555555);
   background: -moz-linear-gradient(top, #AEAEAE, #555555); 
   background: -webkit-gradient(linear, left top, left bottom, from(#AEAEAE), to(#555555)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#AEAEAE, endColorStr=#555555);
}

.FDsSceneWorkspace_Statusbar_Ground{
   background: #AEAEAE;
   border-top: 1px solid #999999;
   background: -ms-linear-gradient(top, #555555, #AEAEAE);
   background: -moz-linear-gradient(top, #555555, #AEAEAE); 
   background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#AEAEAE)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#555555, endColorStr=#AEAEAE);
}

.FDsSceneWorkspace_Catalog_Ground{
   padding-top: 4px;
   background: #FFFFFF;
}

.FDsSceneWorkspace_Workspace_Ground{
   background: #666666;
}

.FDsSceneWorkspace_Property_Ground{
   background: #777777;
}
