<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Texture code="pvw.show.001.01" name="\pvw\show\001.01" label="陶瓷文物" full_label="\展示\展示\陶瓷文物">
    <Bitmap type_name="diffuse" index="0" tick="100" source="\fd-pvw-展示\fd-show-展示\tx-001.01-陶瓷文物\diffuse.jpg" />
    <Bitmap type_name="normal" index="1" tick="100" source="\fd-pvw-展示\fd-show-展示\tx-001.01-陶瓷文物\normal.jpg" />
    <Bitmap type_name="specular.level" index="2" tick="100" source="\fd-pvw-展示\fd-show-展示\tx-001.01-陶瓷文物\specular.level.jpg" />
  </Texture>
</Configuration>