<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Texture code="lgt.plt.0008" name="\lgt\plt\0008" label="花盆" full_label="\楼观台\植物\花盆">
    <Bitmap type_name="diffuse" index="0" tick="100" source="\fd-lgt-楼观台\fd-plt-植物\tx-0008-花盆\diffuse.jpg" />
    <Bitmap type_name="normal" index="1" tick="100" source="\fd-lgt-楼观台\fd-plt-植物\tx-0008-花盆\normal.jpg" />
    <Bitmap type_name="specular.level" index="2" tick="100" source="\fd-lgt-楼观台\fd-plt-植物\tx-0008-花盆\specular.level.jpg" />
  </Texture>
</Configuration>