<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Texture code="pvw.sc.house.02.dec.030" name="\pvw\sc.house.02\dec\030" label="浴盆" full_label="\展示\室内展示.02 (3LDK)\装饰\浴盆">
    <Bitmap type_name="diffuse" index="0" tick="100" source="\fd-pvw-展示\fd-sc.house.02-室内展示.02 (3LDK)\fd-dec-装饰\tx-030-浴盆\diffuse.jpg" />
    <Bitmap type_name="normal" index="1" tick="100" source="\fd-pvw-展示\fd-sc.house.02-室内展示.02 (3LDK)\fd-dec-装饰\tx-030-浴盆\normal.jpg" />
  </Texture>
</Configuration>