<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Texture code="dev.water.001.04" name="\dev\water.001\04" label="材质04" full_label="\开发\水效果\材质04">
    <Bitmap type_name="diffuse" index="0" tick="100" source="\fd-dev-开发\fd-water.001-水效果\tx-04-材质04\diffuse.jpg" />
    <Bitmap type_name="normal" index="1" tick="100" source="\fd-dev-开发\fd-water.001-水效果\tx-04-材质04\normal.jpg" />
    <Bitmap type_name="specular.level" index="2" tick="100" source="\fd-dev-开发\fd-water.001-水效果\tx-04-材质04\specular.level.jpg" />
  </Texture>
</Configuration>