<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Texture code="pvw.sc.courtyard.067.007" name="\pvw\sc.courtyard\067.007" label="贴图" full_label="\展示\场景.四合院\贴图">
    <Bitmap type_name="diffuse" index="0" tick="100" source="\fd-pvw-展示\fd-sc.courtyard-场景.四合院\tx-067.007-贴图\diffuse.jpg" />
    <Bitmap type_name="alpha" index="1" tick="100" source="\fd-pvw-展示\fd-sc.courtyard-场景.四合院\tx-067.007-贴图\alpha.jpg" />
  </Texture>
</Configuration>