<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Texture code="pvw.sc.car.02.dec.0004" name="\pvw\sc.car.02\dec\0004" label="车头01" full_label="\展示\场景.汽车.02\悍马\车头01">
    <Bitmap type_name="diffuse" index="0" tick="100" source="\fd-pvw-展示\fd-sc.car.02-场景.汽车.02\fd-dec-悍马\tx-0004-车头01\diffuse.jpg" />
    <Bitmap type_name="normal" index="1" tick="100" source="\fd-pvw-展示\fd-sc.car.02-场景.汽车.02\fd-dec-悍马\tx-0004-车头01\normal.jpg" />
    <Bitmap type_name="specular.level" index="2" tick="100" source="\fd-pvw-展示\fd-sc.car.02-场景.汽车.02\fd-dec-悍马\tx-0004-车头01\specular.level.jpg" />
  </Texture>
</Configuration>