<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Texture code="pvw.sc.car.02.dec.0009" name="\pvw\sc.car.02\dec\0009" label="轮胎" full_label="\展示\场景.汽车.02\悍马\轮胎">
    <Bitmap type_name="diffuse" index="0" tick="100" source="\fd-pvw-展示\fd-sc.car.02-场景.汽车.02\fd-dec-悍马\tx-0009-轮胎\diffuse.jpg" />
    <Bitmap type_name="normal" index="1" tick="100" source="\fd-pvw-展示\fd-sc.car.02-场景.汽车.02\fd-dec-悍马\tx-0009-轮胎\normal.jpg" />
    <Bitmap type_name="specular.level" index="2" tick="100" source="\fd-pvw-展示\fd-sc.car.02-场景.汽车.02\fd-dec-悍马\tx-0009-轮胎\specular.level.jpg" />
  </Texture>
</Configuration>