<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Texture code="pvw.sc.house.02.dec.022" name="\pvw\sc.house.02\dec\022" label="地毯" full_label="\展示\室内展示.02 (3LDK)\装饰\地毯">
    <Bitmap type_name="diffuse" index="0" tick="100" source="\fd-pvw-展示\fd-sc.house.02-室内展示.02 (3LDK)\fd-dec-装饰\tx-022-地毯\diffuse.jpg" />
  </Texture>
</Configuration>