<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Texture code="pvw.sc.car.02.dec.0016" name="\pvw\sc.car.02\dec\0016" label="内室01" full_label="\展示\场景.汽车.02\悍马\内室01">
    <Bitmap type_name="diffuse" index="0" tick="100" source="\fd-pvw-展示\fd-sc.car.02-场景.汽车.02\fd-dec-悍马\tx-0016-内室01\diffuse.jpg" />
    <Bitmap type_name="normal" index="1" tick="100" source="\fd-pvw-展示\fd-sc.car.02-场景.汽车.02\fd-dec-悍马\tx-0016-内室01\normal.jpg" />
  </Texture>
</Configuration>