<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Texture code="lgt.plt.0002" name="\lgt\plt\0002" label="松树01" full_label="\楼观台\植物\松树01">
    <Bitmap type_name="diffuse" index="0" tick="100" source="\fd-lgt-楼观台\fd-plt-植物\tx-0002-松树01\diffuse.jpg" />
    <Bitmap type_name="alpha" index="1" tick="100" source="\fd-lgt-楼观台\fd-plt-植物\tx-0002-松树01\alpha.jpg" />
    <Bitmap type_name="normal" index="2" tick="100" source="\fd-lgt-楼观台\fd-plt-植物\tx-0002-松树01\normal.jpg" />
    <Bitmap type_name="specular.level" index="3" tick="100" source="\fd-lgt-楼观台\fd-plt-植物\tx-0002-松树01\specular.level.jpg" />
  </Texture>
</Configuration>