<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Texture code="pvw.show.017.03" name="\pvw\show\017.03" label="四合院美女" full_label="\展示\展示\四合院美女">
    <Bitmap type_name="diffuse" index="0" tick="100" source="\fd-pvw-展示\fd-show-展示\tx-017.03-四合院美女\diffuse.jpg" />
    <Bitmap type_name="alpha" index="1" tick="100" source="\fd-pvw-展示\fd-show-展示\tx-017.03-四合院美女\alpha.jpg" />
    <Bitmap type_name="normal" index="2" tick="100" source="\fd-pvw-展示\fd-show-展示\tx-017.03-四合院美女\normal.jpg" />
    <Bitmap type_name="specular.level" index="3" tick="100" source="\fd-pvw-展示\fd-show-展示\tx-017.03-四合院美女\specular.level.jpg" />
  </Texture>
</Configuration>