<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Texture code="lgt.bld.0054" name="\lgt\bld\0054" label="壁画画框" full_label="\楼观台\建筑\壁画画框">
    <Bitmap type_name="diffuse" index="0" tick="100" source="\fd-lgt-楼观台\fd-bld-建筑\tx-0054-壁画画框\diffuse.jpg" />
    <Bitmap type_name="normal" index="1" tick="100" source="\fd-lgt-楼观台\fd-bld-建筑\tx-0054-壁画画框\normal.jpg" />
    <Bitmap type_name="specular.level" index="2" tick="100" source="\fd-lgt-楼观台\fd-bld-建筑\tx-0054-壁画画框\specular.level.jpg" />
  </Texture>
</Configuration>