<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Texture code="pvw.sc.house.02.dec.031" name="\pvw\sc.house.02\dec\031" label="浴室" full_label="\展示\室内展示.02 (3LDK)\装饰\浴室">
    <Bitmap type_name="diffuse" index="0" tick="100" source="\fd-pvw-展示\fd-sc.house.02-室内展示.02 (3LDK)\fd-dec-装饰\tx-031-浴室\diffuse.jpg" />
    <Bitmap type_name="normal" index="1" tick="100" source="\fd-pvw-展示\fd-sc.house.02-室内展示.02 (3LDK)\fd-dec-装饰\tx-031-浴室\normal.jpg" />
  </Texture>
</Configuration>